<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/slide_bar.css">
    <link rel="stylesheet" href="/admin.css">
</head>

<body>

    <%- include('../partials/Admin_sidebar', { currentPage: 'Class' }) %>
        <div class="main-content">
            <div class="allClass">


                <a href="/Admin/Class/AllStudent/<%=className%>"> <i class="fa-solid fa-users"></i>&nbsp;&nbsp;All Student</a>
                <a href="/Admin/Class/subject/<%=className%>"> <i class="fa-solid fa-book"></i>&nbsp;&nbsp;Subject</a>
                <a href="/Admin/Class/ClassTeacher/<%=className%>"> <i class="fa-solid fa-person-chalkboard"></i>&nbsp;&nbsp;Teacher</a>
                <a href=""> &nbsp;&nbsp;Result</a>

            </div>


        </div>
</body>

</html>