<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Social Media</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/slide_bar.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/adminDashborde.css">
</head>

<body>
    <%- include('../partials/Admin_sidebar', { currentPage: 'dashboard' }) %>
        <div class="main-content">

            <div class="role-container">
                <a href="/Admin/Dashboard/studentList" class="role-card">
                    <i class="fas fa-user-graduate role-icon student-icon"></i>
                    <div class="role-title">Student</div>
                    <div class="role-desc">Total Students</div>
                </a>

                <a href="/Admin/Dashboard/teacherlist" class="role-card">
                    <i class="fas fa-chalkboard-teacher role-icon teacher-icon"></i>
                    <div class="role-title">Teacher</div>
                    <div class="role-desc">Total Teachers</div>
                </a>
            </div>


        </div>

        <script>

        </script>


</body>

</html>