<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/Admin_subjects.css">
    <link rel="stylesheet" href="/Admin.css">
</head>
<body>
    <%- include('../partials/Admin_sidebar', { currentPage: 'Subject' }) %>
    <div class="main-content">
        <h2>Change Class Teacher of Class <%=className%></h2>
        <div class="form-container">
            
            <form action="/Change-teacher" method="post">
                <div class="form-group">
                    <label for="className">Class</label>
                    <input type="text" id="className" name="className" value="<%=className%>" required readonly>
                </div>
                <div class="form-group">
                    <label for="TeacherName">Teacher Name</label>
                    <input type="text" id="TeacherName" name="TeacherName" placeholder="Enter Teacher name" required>
                </div>
                
                <div class="form-group">
                    <label for="TeacherID">Teacher ID</label>
                    <input type="number" id="TeacherID" name="TeacherID" placeholder="Enter Teacher ID" required>
                </div>

                <div class="form-group">
                    <label for="user-class">Class Teacher</label>
                    <select id="user-class" name="class" required autocomplete="off">
                        <option value="" disabled selected>Select Class</option>
                        <option value="V">V</option>
                        <option value="VI">VI</option>
                        <option value="VII">VII</option>
                        <option value="VIII">VIII</option>
                        <option value="IX">IX</option>
                        <option value="X">X</option>
                        <option value="XI(M)">XI (Math)</option>
                        <option value="XI(B)">XI (Biology)</option>
                        <option value="XI(C)">XI (Commerce)</option>
                        <option value="XI(A)">XI (Arts)</option>
                        <option value="XII(M)">XII (Math)</option>
                        <option value="XII(B)">XII (Biology)</option>
                        <option value="XII(C)">XII (Commerce)</option>
                        <option value="XII(A)">XII (Arts)</option>
                    </select>
                </div>
                
                <button type="submit">Submit</button>
            </form>
        </div>
          
        </div>
      </div>
</body>
</html>
