.main-content {
    max-width: 100%;
}

td select {
    width: 100%;
    padding: 6px;
    background-color: rgb(221, 85, 61);
    border: 1px solid var(--border-color);
    color: var(--text-color);
}


button[type="submit"] {
    padding: 12px 20px;
    background-color: var(--accent-color);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--accent-hover);
}
/* Style the select dropdown */
select {
width: 100%;
padding: 6px;
background-color: var(--input-bg);
border: 1px solid var(--border-color);
color: var(--text-color);
}


select.absent {
background-color: #ff4d4d; 
color: black;
}

select.present {
background-color: #4caf50; 
}

select.late {
background-color: #ffeb3b; 
color: black;
}

select.half-day {
background-color: #ff9800; 
color: black;
}
input[type="text"] {
width: 95%;

  }

input[type="date"],input[type="text"] {
    background-color: var(--input-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  input[type="date"]:focus {
    border-color: var(--accent-color);
    box-shadow: var(--glow);
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Makes the calendar icon white */
    cursor: pointer;
  }
  
  .box {
    display: flex;
   }
  .left-side {
    width: 100%; /* Makes the left side take 48% of the page width */
    background-color: #f4f4f400;
  }
  
  .left-side table {
    width: 100%;
    border-collapse: collapse;
    
    margin-bottom: 20px;
  }
  .tdName{
    width: 300px;
  }
  .left-side th, .left-side td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .left-side th {
    background-color: #f2f2f200;
    height: 30px;
  }
  
