<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Social Media</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="/subjects.css">

</head>

<body>
    <%- include('../partials/Teacher_sidebar', { currentPage: 'Class' }) %>

        <div class="main-content">
            <h2>Class - <%= classInfo%></h2>
            <div class="allClass">


                <a href="/Teacher/My-Class/AllStudent/<%= classInfo%>"> <i class="fa-solid fa-users"></i>&nbsp;&nbsp;All Student</a>
                <a href="/Teacher/My-Class/Attandace"> <i class="fa-solid fa-clipboard-user"></i>&nbsp;&nbsp;Attandance</a>
                <a href="/Teacher/My-Class/Assingment"> <i class="fa-solid fa-book-open-reader"></i></i>&nbsp;&nbsp;Assingment</a>
                <a href=""> <i class="fa-solid fa-square-poll-vertical"></i>&nbsp;&nbsp;Result</a>

            </div>
        </div>


        <!-- JavaScript -->
        <script src="/profile.js">

        </script>
</body>

</html>